


section.descricao{
    background:#f7f7f7;
    display:flex;
    justify-content: center;
    padding-top:66px;

}
section.descricao main{
    padding:90px;
}
section.descricao main div.descricao-main{
    text-align: center;
}
section.descricao main div.descricao-main h1{
    font-size: 30px;
    font-weight: 500;
}
section.descricao main div.descricao-main p{
    font-weight: 400;
    color:#717171;
}
section.opitions{
    display:flex;
    justify-content: center;
    padding-top:66px;
    height:250px;
}
section.opitions main{
    display:flex;
}
section.opitions div.opition{
    height:100%;
    width:45%;
    border-radius:20px;
    margin: 0 5%;
    color:white;
    padding:10px;
    font-size:25px;
    display:flex;

}
section.opitions div.opition div{
    flex:1;
}
section.opitions div.opition div.descrition{
    display:flex;
    height:100%;
    padding-left:30px;
    align-items: center;
}
section.opitions div.opition div.img{
    display:flex;
    justify-content: center;
    align-items: center;    
}
section.opitions div.opition div.img i{
    color:#fff;
    font-size: 200px;
    transform: rotate(45deg);
 
}

section.melhores-itens{
    display:flex;
    justify-content:center;
    height:auto;
    padding-top:40px;
}

section.melhores-itens main h1.title{
    border-bottom: 1px solid gray;
    margin-bottom:20px;
    font-size:40px;
    margin-left:5%;
}
section.melhores-itens main div.opitions{
    height:330px;
    display: flex;;
}
section.melhores-itens main div.opitions div.opition{
    display:flex;
    width:30%;
    height:100%;
    flex-direction:column;
    background:#505050;
    margin: 0 5%;
    padding-left:30px;
    border-radius:20px;
}
section.melhores-itens main div.opitions div.opition h1{
    position:relative;
    top:20px;
    font-size: 30px;
    color:#fff;
    z-index:1;
}
section.melhores-itens main div.opitions div.opition img{
    width:70%;
    position:relative;
    top:-30px;
    z-index:0;

}
section.melhores-itens main div.opitions div.opition div.descrition{
    position:relative;
    top:-80px;
    color:#fff;
    font-size:20px;
}
