section.busca
{
    padding-top:106px;
    display: flex;
    justify-content: center;
}
section.busca main{
    display: flex;
    padding: 10px 0;
    justify-content: center;
}
section.busca main input{
    color: #3e3e3e;
    background: transparent;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    position: relative;
    padding: 10px 20px;
    height: auto;
    z-index: 1;
    width: 40%;
    font-size: 1.5rem;
    line-height: 20px;
}
section.busca main button{
    width:10%;
    background:#ea1d2c;
    color:#fff;
    padding:10px;
    font-size:30px;
    height:66px;
    margin-left:10px;
    border:2px solid #ea1d2c;
    border-radius:10px;
    cursor: pointer;
    
}
section.ifoders{
    display: flex;
    justify-content: center;
   
}
section.ifoders main{
    display:flex;
    flex-wrap: wrap;
}
div.ifoder{
    width:20%;
    border-radius:10px;
    min-height: 350px;
    background:#e8e8e8;
    scale:0.9;
    text-align: center;
    transition:0.5s;
}
div.ifoder:hover{
    scale:1;
}
div.ifoder div.img{
    width:100%;
    height: 250px;
    /* background-color: red; */
    display:flex;
    
    align-items: center;
    
}
div.ifoder div.img img{
    width: 100%;
}
div.ifoder h1.name{
   margin-top:30px;
}
div.fosco{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:1000vh;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
div.fosco button{
    margin: 10px;
    scale:2
}
iframe{
    position: absolute;
    top: 40vh;
    left:40vw;
    scale:3
}