section.ifoders{
    display: flex;
    justify-content: center;
    padding-top:106px;
}
section.ifoders main{
    display:flex;
    flex-wrap: wrap;
}
div.ifoder{
    width:20%;
    border-radius:10px;
    min-height: 350px;
    background:#e8e8e8;
    scale:0.9;
    text-align: center;
    transition:0.5s;
}
div.ifoder:hover{
    scale:1;
}
div.ifoder div.img{
    width:100%;
    height: 250px;
    /* background-color: red; */
    display:flex;
    
    align-items: center;
    
}
div.ifoder div.img img{
    width: 100%;
}
div.ifoder h1.name{
   margin-top:30px;
}
div.fosco{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:1000vh;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
div.fosco button{
    margin: 10px;
    scale:2
}
iframe{
    position: absolute;
    top: 40vh;
    left:40vw;
    scale:3
}