<link rel="stylesheet" href="/css/ADM_CIF.css">


<div class="card">
        <form action="/addIfoder" method="post" enctype="multipart/form-data">
            <h1 class="title">Quem é o novo iFoder?</h1>
            <h1>Nome</h1>
            <input type="text" name="name" placeholder="Nome" required>
            <h1>Idade</h1>
            <input type="number" name="idade" id="" placeholder="Idade"required>
            <h1>Tipo</h1>
            
            <select name="type" id="">
                <option value="solteira">Solteira</option>
                <option value="casada">Casada</option>
                <option value="pornStar">pornStar</option>
            </select>
            <h1>Nome do arquivo imagem</h1>
            <input type="file" name="img">
             <h1>De onde é?</h1>
            <input type="text" name="local">
            <h1>Descrição</h1>
            <textarea name="descricao" id=""  placeholder="Descrava com poucas palavras"required></textarea>

            <button type="submit">Cadastrar</button>
        </form>
    </div>