<style>
    body{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height:100vh;
        flex-direction: column;
    }
    h1{
        font-size: 100px;
        color:#717171;
        text-align: center;
    }
    a{
        font-size:50px;
        color:#717171;
    }
    a:hover{
        color:#ea1d2c;
    }
    i{
        margin-left:40px;
    }
</style>
<h1>parabéns <br>agora esta na hora de fode</h1>
<a href="/">
    <span>Voltar para home<i class="fa-solid fa-arrow-right-to-bracket"></i> </span>
</a>