<link rel="stylesheet" href="/css/home.css">
{{{header}}}
<section class="descricao">
    <main>
        <div class="descricao-main">
            <h1>Encontre mulheres casadas,solteiras ou pornstart da sua região por um preço bacana</h1>
            <p>peça e coma</p>
        </div>
    </main>
</section>
<section class="opitions">
    <main>
        <div class="opition" style="background:#000;">
            <div class="descrition">
                pornStars
            </div>
            <div class="img">
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
        <div class="opition" style="background:yellow;">
            <div class="descrition">
                casadas
            </div>
            <div class="img">
                <i class="fa-solid fa-ring"></i>
            </div>
        </div>
    </main>
</section>

<section class="melhores-itens">
    <main>
        <h1 class="title">Melhores Pedidos</h1>

        <div class="opitions">
            <div class="opition">
                <h1>Alexis Texas</h1>
                <img src="/img/0001.png" alt="" srcset="">
                <div class="descrition">
                    22 anos de idade essa mulher sabe como se diverti na cama 
                </div>
            </div>
             <div class="opition">
                <h1>Jesse Jane</h1>
                <img src="/img/0002.png" alt="" srcset="">
                <div class="descrition">
                    So comendo para entender essa mulher  
                </div>
            </div>
        </div>
    </main>
</section>
<section class="rodape">
    <main>
        <p>feito por Pedro Vitor</p>
    </main>
</section>
<script>
   
    let conta = {
        nome:"{{conta.nome}}",
        
       
        }
    if(conta.nome!=""){
        $("header div.conta ").html(`<h1>`+conta.nome+`</h1><i class="fa-solid fa-circle-user"></i>`);
    }
</script>